// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  display: inline;
  padding:15px;
  background-color: rgb(227,137,48);
  font-size: 20px;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 3px;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  margin-left: 20px;
}

h3 {
  margin-top: 40px;
}
form {
  margin-top: 5px;
}

#input_field {
  width: 100%;
}
